/*
Theme Name: MOORE.id Child Theme
Theme URI: https://rmoore.dev/themes/etchwp/
Author: Rob Moore
Author URI: https://rmoore.dev
Description: This theme is a child theme for Etch theme
Requires at least: 6.9
Tested up to: 6.9
Requires PHP: 8.0
Version: 1.0.0
License: GPL v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.txt
Template: etch-theme
Text Domain: etch-child-theme
Tags: Etch, Block Authoring
*/